html {
        font-family: "LXGW WenKai Mono TC", monospace;
        font-weight: 400;
        font-style: normal;
}
  
html {
    background-color: #f2dfff;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #51e0a5;
    text-shadow: 5px 3px 3px rgb(0, 0, 0);
}
  
p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

.side_list_text ul > li {
        font-size: 12px;       
}
        

a + img {
        padding: 0.5px;
}

.monitor_all ul {
        font-size: 20px;
}

/*==============================*/

.page_flex {
    display: flex;
}

.side_list_block {
        display: block;
        width: 160px;
        height: 30vh;
        margin: 0px;
        padding: 2px;
        /*border: 2px solid black;*/
        /*border-style: none;*/ /*none & solid black 互相衝突*/
        position: fixed;
        overflow: auto; /* or overflow-y: scroll */
}

.side_list_text {
        display: block;
        font-size: 16px;
        margin: 2px;
        padding: 1px;
        background-color: #DCDCDC;
        border-style: none;
}

.monitor_all {
    width: 55vw;
    min-width: 400px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0px 20px 20px 20px;
    /*border: 3px solid black;*/
}

.monitor_all img{
    display: block;
    margin: 0 auto;
    width: 60%;
}
